* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  place-items: center;
  background-color: #242424;
  color: #e3e3e3;
}

body,
form,
input,
textarea,
button {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

label,
input,
a {
  display: block;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

a {
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  filter: contrast(80%);
}

button {
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
button:hover {
  filter: contrast(80%);
}
button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
